services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      NODE_ENV: production
      PORT: 4000
      DATABASE_URL: file:/app/data/app.db
      SHOPIFY_SHOP_DOMAIN: protonord.myshopify.com
      SHOPIFY_ADMIN_API_TOKEN: ${SHOPIFY_ADMIN_API_TOKEN}
      SHOPIFY_API_VERSION: 2023-10
      SHOPIFY_WEBHOOK_SECRET: ${SHOPIFY_WEBHOOK_SECRET}
      SIMPLYPRINT_COMPANY_ID: ${SIMPLYPRINT_COMPANY_ID}
      SIMPLYPRINT_API_KEY: ${SIMPLYPRINT_API_KEY}
      SIMPLYPRINT_QUEUE_GROUP_NAME: Shopify
    volumes:
      - ./data:/app/data
